
<ng-container *ngIf="!!userTask">
  <h1>
    {{ userTask.title}}
  </h1>

  <div>
    <span class="badge badge-primary mr-1" *ngFor="let tag of userTask.tags">{{ tag }}</span>
  </div>

  <p>
    {{ userTask.description }}
  </p>

  <ng-container *ngFor="let o of [userTask]"> <!-- reload component when input parameter changes -->
    <ax-lazy-element *axLazyElementDynamic="userTask.componentData.elementName, url: userTask.componentData.componentUrl; loadingTemplate: loading; errorTemplate: error"
                     [taskId]="userTask.id"
                     [baseUrl]="userTask.componentData.baseUrl"
                     (completed)="taskCompleted($any($event))"></ax-lazy-element>
  </ng-container>

  <ng-template #loading>
    Loading task form...
  </ng-template>

  <ng-template #error>
    <div class="alert alert-danger" role="alert">
      Unable to load task form 😕
    </div>
  </ng-template>
</ng-container>

